// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Css
@import 'style'
